.containerHeader {
  background-image: url("../assets/bg_header.png");
  background-color: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageHeader {
  height: 122px;
}
